@charset "UTF-8";

@use "sass:map";

@import "./mixins/mixin";
@import "./common/var.scss";

@include b(button) {
  display: inline-block;
  line-height: 1;
  min-height: map.get($--input-height, "default");
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  margin: 0;

  & + & {
    margin-left: 10px;
  }

  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }

  @include m(primary) {
    @include button-variant($--color-white, $--color-primary, $--color-primary);
  }

  @include m(success) {
    @include button-variant($--color-white, $--color-success, $--color-success);
  }

  @include m(warning) {
    @include button-variant($--color-white, $--color-warning, $--color-warning);
  }

  @include m(danger) {
    @include button-variant($--color-white, $--color-danger, $--color-danger);
  }

  @include m(info) {
    @include button-variant($--color-white, $--color-info, $--color-info);
  }
}
